ul {
	list-style-type: none;
	margin: 0px;
	overflow: hidden;
	background-color: #7d758e;
}

li {
	float: left;
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	cursor: pointer;
}

li:hover {
	background-color: #e0f2cb;
	color: black;
}

a {
	text-decoration: none;
}

.asu {
	float: left;
	font-family: 'Inconsolata', monospace;
	padding: 20px;
	/*background-color: white;*/
	width: 75%;
	font-size: 30px;
	background-color: rgba(112, 113, 114, 0.5);
	margin: 15px;
	height: 500px;
	border-radius: 15px;
}

.raw {
	margin: auto;
}
.jos {
	float: right;
	padding: 12px 0 0 0;
	width: 18%;

}

#say {
	display: none;
	text-align: center;
}

#sel {
	display: none;
	text-align: center;
}

#skil {
	text-align: center;	
	display: none;
}

body {
	background-color: #93ddff;
	padding: 0;
	margin: 0;
}

