p {
	text-align: justify;
	padding: 5px;
}

.ndas {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: rgba(62, 63, 66, 0.8);
	/*border-radius: 15px;*/
	height: 50px;
	text-align: center;
	font-size: 50px;
}

.garisb {
	text-decoration: underline;
}

.ces {
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	background: #aecbf9;
	border-radius: 0 0 25px 25px;
}
.ml {
	background:#a8ffb8;
	font-family: 'Indie Flower', cursive;
	border-radius: 25px 25px 25px 25px;
	padding: 3px;
}
.isi {
}
.htm {
	float: right;
	text-align:center;
}
body {
	/*background-image: url('black.jpg');*/
	/*background-repeat: no-repeat;*/
	background-size: 100%;
	text-align: justify-all;
}

li {
	/*float: left;*/
	list-style-type: none;
	float: right;
}
li a {
	display: block;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	color: #ffffff;
}
li a:hover{
	background-color: rgb(62, 63, 66);
	border-radius: 15px;
}